:root {
    --blue1: #0A67BE;
    --blue2: #003F76;
    --yellow1: #fffb00;
    --tan1: #faebd7;
    --gray1: #333333;
}

html {
    font-size: 13px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color : var(--gray1);
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1.5rem;
}

span {
    color: var(--blue1);
}

.button {
    background-color: var(--blue1);
    color: white;
    border: none;
    border-radius: .2rem;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: .5rem;
    cursor: pointer;
}

.button:hover {
    background-color: var(--blue2);
}
.lonely-cont-box {
    border: .2rem solid var(--blue1);
    padding: 1rem;
}
.sub-cont-box {
    border: .2rem solid var(--blue1);
    padding: 1rem;
    margin: auto;
}
.sub-cont-box-parent {
    border: .2rem solid var(--blue1);
    background-color: var(--tan1);

    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.icon {
    width: 4.5rem;
    height: auto;
}