:root {
    --blue1: #0A67BE;
    --blue2: #003F76;
    --yellow1: #fffb00;
    --tan1: #faebd7;
    --gray1: #333333;
}

html {
    font-size: 13px;
}

main {
    min-height: 75vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color : var(--gray1);
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1.5rem;
}

span {
    color: var(--blue1);
}

.button {
    background-color: var(--blue1);
    color: white;
    border: none;
    border-radius: .2rem;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: .5rem;
    cursor: pointer;
}

.button:hover {
    background-color: var(--blue2);
}
.lonely-cont-box {
    border: .2rem solid var(--blue1);
    padding: 1rem;
    text-align: center;
    border-radius: 3px;

}
.lonely-cont-box p {
    text-align: left;
}
.sub-cont-box {
    border: .2rem solid var(--blue1);
    padding: 1rem;
    text-align: center;
    border-radius: 3px;

}
.sub-cont-box p {
    text-align: left;

}
.sub-cont-box img {
    max-width: 150px;
    border-radius: 3px;
}
.sub-cont-box-parent {
    border: .2rem solid var(--blue1);
    background-color: var(--tan1);
    border-radius: 3px;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.icon {
    width: 4.5rem;
    height: auto;
}
.thankyou-container {
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
    text-align: center;
  }

/*Form CSS*/

form {
    max-width: 650px;
    margin: 2rem auto;
    background-color: var(--blue1);
    padding: 1rem;
    border-radius: 10px;
  }
  
  form label {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    width: 30rem;
    font-size: 1.2rem;
  }
  
  form input[type="submit"] {
    background-color: var(--blue2);
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    width: 30rem;
    font-size: 1.2rem;
    background-color: white;
  }
  
  form select option {
    font-size: 1.2rem;
    color: black;
  }
  
  .membership-level-benefits {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: white;
  }
  
  .membership-level-benefits h4 {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .membership-level-benefits li {
    margin-bottom: 0.5rem;
  }
  
/*Form Table*/
.membership-level-benefits {
    margin: 20px 0;
    max-width: 200px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    font-weight: bold;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    border-bottom: 1px solid var(--gray1);
  }
  
  tr:nth-child(even) {
    background-color: var(--tan1);
    color: var(--gray1);
  }