main {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
}
h1 {
    margin-left: 1.5rem;
    margin-top: 5rem;
}
main > div > div:has(h2) {
    margin: 1.5rem;
    border: .2rem solid var(--blue1);
    border-radius: .2rem;
    height: 14rem;
}

main > div > div:has(div) {
    background-color: var(--tan1);
    height: fit-content;
}

h2 {
    margin: 0;
    padding: 1.5rem;
    color: var(--white1);
}

main > div > div > div {
    margin: 1.5rem;
    border: .2rem solid var(--blue1);
    border-radius: .2rem;
    background-color: white;
    height: 10rem;
}

#hero-div {
    display: grid;
    grid-template-columns: 1fr;
}
#hero-img {
    grid-row: 1 / 2;
    grid-column: 1;
    z-index: 1;
    width: 100%;
}
#hero-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    object-fit: cover;
}
#index-logo {
    grid-row: 1 / 2;
    grid-column: 1;
    z-index: 2;
    width: 40%;
    margin: auto;
}



@media screen and (min-width: 768px) {
    #hero-img {
        max-height: 100vh;
        object-position: 0% 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) {
    #hero-img {
        max-height: 100vh;
        object-position: 0% 100%;
        object-fit: cover;
    }

    /*grid with two columns*/
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #event-index {
        grid-column: 1;
    }
    #weather-index {
        grid-column: 2;
    }
    #spotlight-index {
        grid-column: 2;
    }
    #join-index {
        grid-column: 2;
    }
}

@media screen and (min-width: 1250px) {
    .grid {
        grid-template-columns: 1fr 2fr 1fr;
    }
    #event-index {
        grid-column: 2;
    }
    #spotlight-index {
        grid-column: 3;
    }
    #join-index {
        grid-column: 3;
    }
    #release-index {
        grid-column: 2;
    }
    #weather-index {
        grid-column: 1;
    }
}