:root {
    --blue1: #0A67BE;
    --blue2: #003F76;
    --yellow1: #fffb00;
    --tan1: #faebd7;
    --gray1: #333333;
}

header {
    color: white;
    background-color: var(--blue1);
    padding: 10px;
}

footer {
    color: white;
    background-color: var(--blue1);
    padding: 10px;
}

.body-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    body div {
        width: 100%;
    }
}