:root {
    --blue1: #0A67BE; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    color: white;
    background-color: var(--blue1);
    padding: 10px;
}

footer {
    color: white;
    background-color: var(--blue1);
    padding: 10px;
}

.body-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    body div {
        width: 100%;
    }
}